Cytoscape/
data/
DESCRIPTION
downloads/
plots/
PSM_DS_VPS35/
PSM_DS_VPS35.zip
PSM_LRRK2/
PSM_LRRK2.zip
PSM_SNCA/
PSM_SNCA.zip
rawdata/
rdata/
renv/
spatialproteom/
transformeddata/
venv/
SupplementalData/

.ipynb_checkpoints/
__pycache__/
DataViewing/
SpatialProteomics-DSParkinsons.Rproj
.DS_Store
